.code {
    margin: 2vh 2vw;
}
.code_sub{
    padding:2vh 20vw;
    background-color:cadetblue;
<<<<<<< HEAD
     width: 25;
    height: 2vh;
=======
      width:50vw;
    height:10vh;
    margin: 0vh 2.5vw;
>>>>>>> origin/master
}
#code_wrapper {
    padding-top: 10vh;
    width: 10vw;
    height: 10vh;
}
#code_box{
    border-color: #18436e;
    border-radius: 7px;
    box-shadow: 0px 0px 15px 2px #18436e;
    width: 60vw;
    height: 100vh;
<<<<<<< HEAD
    background-color: skyblue;
    padding: 20vh 10vw;
    margin:auto;
=======
    background-color: lightsteelblue;
    padding: 10vh 10vw;
     margin: 0vh 10vw;
}
#ques_box{
    background-color: white;
    width:50vw;
    height:30vh;
    margin: 0vh 2.5vw;
}
#code_here{
     background-color: white;
    width:50vw;
    height:50vh;
    margin: 0vh 2.5vw;
>>>>>>> origin/master
}
