.code {
    margin: 2vh 2vw;
}

.code_sub {
    padding: 2vh 20vw;
    background-color: cadetblue;
    width: 50vw;
    height: 10vh;
    margin: 0vh 0.65vw;
}

#code_box {
    border-color: #18436e;
    border-radius: 7px;
    box-shadow: 0px 0px 15px 2px #18436e;
    width: 55vw;
    height: 100vh;
    background-color: lightsteelblue;
    padding: 10vh 2vw;
    margin: 12vh 20vw;
}

#ques_box {
    background-color: white;
    width: 50vw;
    height: 30vh;
    margin: 0vh 2.5vw;
}

#code_here {
    background-color: white;
    /*background-image: url("../images/wood.jpg");*/
    color: blanchedalmond;
    font-size: 15px;
    width: 50vw;
    height: 50vh;
    margin: 0vh 0.65vw;
}

#ques {
    float: left;

}

#div {
    float: right;
}
#qtbar{
    padding-bottom: 2rem;
    width:50vw;
    height:auto;
}
