.code {
    margin: 2vh 2vw;
}
.code_sub{
    padding:2vh 20vw;
    background-color:cadetblue;
     width: 25;
    height: 2vh;
}
#code_wrapper {
    padding-top: 10vh;
    width: 10;
    height: 10vh;
}
#code_box{
    border-color: #18436e;
    border-radius: 7px;
    box-shadow: 0px 0px 15px 2px #18436e;
    width: 100vw;
    height: 60vh;
    background-color: lightsteelblue;
    padding: 20vh 10vw;
    margin:auto;
}
