#header {
    display: inline-block;
    padding: 1.5vh 15vw 2.5vh 15vw;
    background-color: white;
    width: 70vw;
    height: 4vh;
    color: #2870b8;
    border-bottom: 1px solid #18436e;
    box-shadow: 0px 0px 8px 2px #18436e;
    position: absolute;
}

#brand {
    padding-bottom: 1vh;
    padding: 0;
    font-size: 4vh;
    text-decoration: none;
    color: #2870b8;
    padding-left: 2.5vw;
}

.right {
    display: inline-block;
    float: right;
    margin: -0.5vh;
   text-align: right;
}

header div ul li {
    list-style: none;
    display: inline;
    /* background-color: brown;*/
}

.nav {
    text-decoration: none;
    color: #18436e;
    font-size: 3vh;
    /*border-right: 1px solid #18436e;*/
    vertical-align: middle;
    padding: 0vw 2vh 1vw;
}

a {
    text-decoration: none;
}

body {
    background-image: url("../images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
